<!--model-viewer src="{{item.name}}" 
autoplay ar ar-scale="auto" camera-controls touch-action="pan-y" 
alt="A 3D model of an astronaut" 
ios-src="{{item.name}}" xr-environment
ar  ></model-viewer-->
<!--model-viewer id="dimension-demo" ar ar-modes="webxr" 
ar-scale="fixed" camera-orbit="-30deg auto auto" 
max-camera-orbit="auto 100deg auto" shadow-intensity="1" -->

<a-scene embedded arjs>
    <a-marker preset="hiro">
        <a-entity gltf-model="../../../assets/models/spideblack.glb" scale="0.01 0.01 0.01"></a-entity>
    </a-marker>
    <a-entity camera></a-entity>
  </a-scene>

  <!--a-scene>
    <a-entity class="clickable" geometry="primitive: box" position="1 0 0"></a-entity>
    <a-entity class="not-clickable" geometry="primitive: sphere" position="-1 0 0"></a-entity>
  </a-scene>
  <model-viewer src="{{item.name}}" 
  ar ar-scale="auto" camera-controls touch-action="pan-y" 
  alt="A 3D model of an astronaut" 
  xr-environment
  ar  ></model-viewer>
  
  
  <model-viewer src="{{item.name}}" 
  ar ar-scale="fixed" camera-controls touch-action="pan-y" 
  alt="A 3D model of an item" 
  skybox-image="../../../assets/view.hdr" xr-environment></model-viewer-->

