<!--div class="buttons">
    <button class="say-hi-button">SAY HI!</button>
  </div>
  <a-scene embedded arjs>
    <a-marker preset="hiro">
      <a-entity
        position="0 0 0"
        scale="0.05 0.05 0.05"
        gltf-model="../../../assets/Triangle.gltf"
      ></a-entity>
    
    </a-marker>
    <a-entity camera></a-entity>
  </a-scene-->
  <a-scene
vr-mode-ui="enabled: false"
arjs='sourceType: webcam; videoTexture: true; debugUIEnabled: false;'>

<a-camera gps-camera='simulateLatitude: 51.049; simulateLongitude: -0.723' rotation-reader></a-camera>
<a-box color="yellow" gps-projected-entity-place="latitude: 51.049; longitude: -0.723"/>
</a-scene>