
<a-scene embedded arjs>
  
      <a-assets>
      <img id="earth-sphere" src="../../../assets/images/earth-sphere.jpeg" />
          <a-asset-item id="back" src="../../../assets/models/hoverboard.glb"></a-asset-item>
    </a-assets>
      <a-marker preset="hiro">
          <a-plane id="followerPlane"
          position="0 1 0"
          rotation="-90 0 0"
          material="src:#earth-sphere;">
   </a-plane>
  
      </a-marker>
  
          <a-entity camera></a-entity>
  
      <!-- empty entity, running previously declared script -->
      <a-entity updater></a-entity>
      </a-scene>

  