<!--div class="buttons">
    <button class="say-hi-button">SAY HI!</button>
  </div>
  <a-scene embedded arjs>
    <a-marker preset="hiro">
      <a-entity
        position="0 0 0"
        scale="0.05 0.05 0.05"
        gltf-model="../../../assets/Triangle.gltf"
      ></a-entity>
    
    </a-marker>
    <a-entity camera></a-entity>
  </a-scene-->
  <a-scene
vr-mode-ui="enabled: false"
arjs='sourceType: webcam; videoTexture: true; debugUIEnabled: false;'>

<a-camera gps-camera='simulateLatitude: 51.049; simulateLongitude: -0.723' rotation-reader></a-camera>
<a-text value="This will always face the user." look-at="[gps-camera]" scale="75 75 75" gps-entity-place="latitude: 51.0491; longitude: -0.723;"></a-text>
<a-box material="color: yellow" gps-entity-place="latitude: 51.049; longitude: -0.723" position="0 30 0"></a-box>

</a-scene>