<!--a-scene
vr-mode-ui="enabled: false"
arjs='sourceType: webcam; videoTexture: true; debugUIEnabled: false;'>

<a-camera gps-camera='simulateLatitude: 51.049; simulateLongitude: -0.723' rotation-reader></a-camera>
<a-text value="This will always face the user." look-at="[gps-camera]" scale="75 75 75" gps-entity-place="latitude: 51.0491; longitude: -0.723;"></a-text>

</a-scene-->
<model-viewer src="../assets/Astronaut.glb" 
ar ar-scale="auto" camera-controls touch-action="pan-y" 
alt="A 3D model of an astronaut" 
ios-src="../assets/Astronaut.usdz" xr-environment
ar environment-image="shared-assets/environments/moon_1k.hdr" ></model-viewer>