<button type="button" class="btn btn-outline-primary" (click)="sendModel(0)">Astronaut</button>
<button type="button" class="btn btn-outline-primary" (click)="sendModel(1)">ToyCar</button>
<button type="button" class="btn btn-outline-primary" (click)="sendModel(2)">BarramundiFish</button>
<button type="button" class="btn btn-outline-primary" (click)="sendModel(3)">odd-shape</button>
<button type="button" class="btn btn-outline-primary" (click)="sendModel(4)">radiance</button>
<button type="button" class="btn btn-outline-primary" (click)="sendModel(5)">shishkebab</button>
<button type="button" class="btn btn-outline-primary" (click)="sendModel(6)">RobotExpressive</button>
<button type="button" class="btn btn-outline-primary" (click)="sendModel(7)">odd-shape-labeled</button>
<button type="button" class="btn btn-outline-primary" (click)="sendModel(8)">spiderblack</button>
<button type="button" class="btn btn-outline-primary" (click)="sendModel(9)">santaclaus</button>
<button type="button" class="btn btn-outline-primary" (click)="sendModel(10)">catrina</button>
<button type="button" class="btn btn-outline-primary" (click)="sendModel(11)">altar</button>
<button type="button" class="btn btn-outline-primary" (click)="sendModel(12)">diamuertos</button>
<button type="button" class="btn btn-outline-primary" (click)="sendModel(13)">superman</button>
<button type="button" class="btn btn-outline-primary" (click)="sendModel(14)">delorean</button>
<button type="button" class="btn btn-outline-primary" (click)="sendModel(15)">delorean2</button>


